<h2 mat-dialog-title>Details</h2>
<mat-dialog-content>

  <p>Response <app-model-badge [model]="response.generatedBy"></app-model-badge></p>
  <small><i>"{{response.response}}"</i></small>

  <p>&nbsp;</p>

  <div *ngFor="let r of ratings">
    <p>Rating
      <app-rating-badge [rating]="r.rating" [criteria]="r.criteria.name"></app-rating-badge>
      <app-model-badge [model]="r.ratedBy"></app-model-badge>
    </p>
    The response got the rating of {{r.rating}} with following explanation:<br />
    <small><i>{{r.explanation}}</i></small>
    <p>&nbsp;</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
